
RoboPizza/Logs/shadercompiler-UnityShaderCompiler.exe0.log
PizzaRobot/Logs/shadercompiler-UnityShaderCompiler.exe2.log
PizzaRobot/Logs/shadercompiler-UnityShaderCompiler.exe1.log
PizzaRobot/Library/SourceAssetDB
PizzaRobot/Library/ShaderCache/EditorEncounteredVariants
PizzaRobot/Library/SceneVisibilityState.asset
PizzaRobot/Library/CurrentLayout-default.dwlt
PizzaRobot/Library/ArtifactDB
